@import './settings/settings.index';
@import './reset';
@import './tools/tools.index';
@import './animations';

html {
    background-color: $white;
    overflow-x: hidden;
}
.wrapper {
    width: 100%;
    max-width: 162rem;
    margin: 0 auto;
    padding: 0 5rem;

    @include mq($until: desktop) {
        padding: 0 2rem;
    }
}